@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
li {
    list-style-type: none;
   }
ul {
    margin-left: 0;
    padding-left: 0;
}
img, video {
    max-width: 100%;
}